[submodule "scancode/ios/zxing"]
	path = scancode/ios/zxing
	url = git@github.com:zxing/zxing.git
[submodule "testflight"]
	path = testflight
	url = git@github.com:Akylas/testflight-module.git
[submodule "commonjs/android/assets"]
	path = commonjs/android/assets
	url = git@bitbucket.org:farfromrefuge/ti.ak.include.git
[submodule "commonjs/ios/assets"]
	path = commonjs/ios/assets
	url = git@bitbucket.org:farfromrefuge/ti.ak.include.git
[submodule "map/ios/Classes/common"]
	path = map/ios/Classes/common
	url = git@bitbucket.org:farfromrefuge/akylas.map.common.ios.git
[submodule "mapbox/ios/Classes/common"]
	path = mapbox/ios/Classes/common
	url = git@bitbucket.org:farfromrefuge/akylas.map.common.ios.git
[submodule "googlemap/ios/Classes/common"]
	path = googlemap/ios/Classes/common
	url = git@bitbucket.org:farfromrefuge/akylas.map.common.ios.git
[submodule "googlemap/android/src/akylas/map"]
	path = googlemap/android/src/akylas/map
	url = git@bitbucket.org:farfromrefuge/akylas.map.common.android.git
[submodule "statusbarnotification/ios/CWStatusBarNotification"]
	path = statusbarnotification/ios/CWStatusBarNotification
	url = git@github.com:Akylas/CWStatusBarNotification.git
[submodule "ti.paypal"]
	path = ti.paypal
	url = git@github.com:Akylas/ti.paypal.git
[submodule "charts2/ios/ios-charts"]
	path = charts2/ios/ios-charts
	url = git@github.com:danielgindi/ios-charts.git
[submodule "tiws/ios/SocketRocket"]
	path = tiws/ios/SocketRocket
	url = git@github.com:Akylas/SocketRocket.git
