tmp
bin
build
*.zip
.apt_generated
.settings
.classPath
build.properties
dist
project.xcworkspace
xcuserdata
.svn
libs

.pydevproject
*.pyc
/commonjs/ios/Classes/AkylasCommonjsModuleAssets.m
/commonjs/ios/metadata.json
.tags_sorted_by_file

.tags
