[submodule "commonjs_ios"]
	path = commonjs/ios/assets
	url = git@bitbucket.org:farfromrefuge/ti.ak.include.git
[submodule "commonjs_android"]
	path = commonjs/android/assets
	url = git@bitbucket.org:farfromrefuge/ti.ak.include.git
[submodule "scancode/ios/zxing"]
	path = scancode/ios/zxing
	url = git@github.com:zxing/zxing.git
[submodule "testflight"]
	path = testflight
	url = git@github.com:Akylas/testflight-module.git
